@charset "UTF-8";

/*  PALETA DE CORES

LILAS: #8242FA
AZUL:  #3469FA

*/


*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body , html{

    background-color: #8242FA;
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: center;
   align-content: center;
    
}

 h1{

    text-align: center;
    margin-bottom: 10px ;

}

input{

    padding: 3px;
    margin: 5px;
   
}

span{

    margin: 5px;
}

label{
    display: none;
}

input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #3469FA;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;

}

input[type=submit]:hover{
    background-color: #17185f;
    cursor: pointer;
}

input[type=button]{
    display: flex;
    align-content: space-between;
    border: none;
    border-bottom: none;
    box-shadow: none;
    text-decoration: none;
    margin-top: 5px;  
    padding-left: 5px;   
    
        
}

input[type=button]:hover{

    cursor: pointer;
    position: relative;
    
}


#login{

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.458);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

.container2{

    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    align-content: flex-end;


}

.childc2{

    background-color: #8242FA;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    height: 35px;
    width: 93px;
    
}

.childc2:hover{

    background-color: #50289a;
    color: white;
    
}

.childc1{

    order: 1;
}

.childc1:hover{

    color: #3469FA;
}
    


.child1{

    background: #8242FA url(../imagens/imagem01.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    
}

.child2{
    
    padding: 10px;
}

.campo{

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 5px;
    
}

@media screen and (orientation: landscape){

    #login{
        width: 90vw;
        height: 60vh;
        transition: width 0.3s, height 0.3s;
        transition-timing-function: ease;
    }


    .container{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 90vh;
        width: 100vw;
        justify-content: flex-start;
        align-items: flex-start;
     
        

    }

    .child1{
        background: #8242FA url(../imagens/imagem01.jpg);
        background-size: cover;
        width: 40%;
        height: 500px;
        
    }
    
    .child2{
        width: 60%;
        height: 100vh;

    }
    
}
