@charset "UTF-8";

/*  PALETA DE CORES

LILAS: #8242FA
AZUL:  #3469FA

*/


*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body , html{

    background-color: #8242FA;
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: center;
   align-content: center;
    
}



#login{

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.458);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

.child1{

    background: #8242FA url(../imagens/imagem01.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    
}

.child2{
    
    padding: 10px;
}

@media screen and (orientation: landscape) and (max-width: 768px){

    #login{
        width: 90vw;
        height: 60vh;
        transition: width 0.3s, height 0.3s;
        transition-timing-function: ease;
    }


    .container{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 90vh;
        width: 100vw;
        justify-content: flex-start;
        align-items: flex-start;
     
        

    }

    .child1{
        background: #8242FA url(../imagens/imagem01.jpg);
        background-size: cover;
        width: 40%;
        height: 500px;
        
    }
    
    .child2{
        width: 60%;
        height: 100vh;

    }
    
}
