@charset "UTF-8";

*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #424242;
}

main{

    height: 100vh;
    width: 100vw;
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   align-content: center;
}

h1{

    text-align: center;
    margin-bottom: 10px ;
    color: black;

}

body{

    background-image: linear-gradient(to top,  #8242FA , #3469FA);
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    padding: 10px;
    height: 550px;
    width: 400px;
    justify-content: flex-start;
}

#botao{

    font-size: 1em;
    display: block;
    margin: auto;
    margin-top: 5px;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background-color: #3469FA;
    color: white;
    border: 4px black;
    cursor: pointer;
}

#botao:hover{

    background-color: #8242FA;

}

input{

    padding: 3px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.399);
   
}

div{
    display: flex;
    flex-direction: column;
}

.child4{
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}



