@charset "UTF-8";

*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #424242;
}

main{

    height: 100vh;
    width: 100vw;
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   align-content: center;
}

h1{

    text-align: center;
    margin-bottom: 10px ;
    color: black;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.411);

}

body{

    background-image: linear-gradient(to top,  #8242FA , #3469FA);
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: 550px;
    width: 350px;
    justify-content: flex-start;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.357);
}

#botao{

    font-size: 1em;
    display: block;
    margin: auto;
    margin-top: 5px;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background-color: #3469FA;
    color: white;
    border: 4px black;
    cursor: pointer;
}

#botao:hover{

    background-color: #8242FA;

}

input{

    padding: 3px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.399);
   
}

div{
    display: flex;
    flex-direction: column;
}

.child4{
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media screen and (orientation: landscape) and (max-width: 800px) and (max-height: 481px ) {



    body, html{

        background-color: rgb(164, 106, 106);
    }

    .container{
        display: flex;
        width: 100vw;
    }
    .col1{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content: center;
        
    }

    .col2{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content: center;
      

    }

    .col3{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content: center;
    }

    .col4{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content: center;
    }

    .child4{
        flex-direction: row;
        margin-right: 5px;
        order: -1;




}
label#dat{
    display: none;
}

}